@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
  }

  .green{
    color: #DDF247
  }
  
  .border-green{
    border-bottom: 1px solid #DDF247;
  }

  body{
    overflow-x: hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}